.pagination {
  margin-top: 100px;

  padding: 10px;
}

.pagination_button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.pagination_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination_button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination_button svg {
  margin: 0 5px;
}

.pagination span {
  margin: 0 10px;
  font-size: 1.1em;
  color: #333;
}
